@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}


.content-container {
  @apply w-full max-w-full lg:max-w-screen-lg xl:max-w-screen-2xl
}

.hero-background {

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
}

#nav-links {
   animation: slideDown  0.4s;
}
#nav-links .close{
  animation: slideUp 0.4s;
}

.exp-transition {
  transition: height 0.5s ease-out;
}
.bar-transition {
  transition: width 0.5s ease-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}